#intro

  .wrapper


    .title
      Хотели бы вы зарабатывать
      %br
      от
      %span.bold 60 000
      до
      %span.bold 90 000
      рублей в месяц
      %br
      работая в официальном массажном салоне?


    .buttons
      .button.left{rel: 'confirm'} Да, мне это интересно
      .button.right{rel: 'reject'} Нет, массаж - это не для меня